html {
    padding-top: 3em;
    text-align: center;
    background-color: mediumslateblue;
    color: rgba(147, 241, 221, 0.938);
}

h1{
    color: lime;
}

p{    
    font-size: 1.5em;
}

form {
    padding-top: 32px;
    padding-bottom: 54px;
}

#page {
    padding: .2em;
    background-color: gold;
    font-size: 16px;
    color: rgb(94, 9, 192);
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;
    margin-bottom: 2em;
}

#page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-content: center;
}

form input, form button{
    padding: .5em;
}

img {
    width: 104px;
    height: 70px;
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;
}

@media screen and (min-width: 600px) {
        #page ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 950px) {
        #page ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 848px) {
    img {
        width: 156px;
        height: 105px;
    }
}

@media screen and (min-width: 1056px) {
    img {
        width: 208px;
        height: 140px;
    }
}

nav ul {
    list-style-type: none;
    padding-left: 5%;
    text-align: left;
}

input, button {
    box-shadow: 3px 3px 3px black;
    border: 1.5px solid darkgray;
    border-radius: 4px;
    margin: 2px;
}

.toggleButton{
    font-size: 2em;
    margin: .5em;
}

@media screen and (min-width: 760px) {
   #b,#d,#f,#h{
        margin-left: 75px;
    }
}
#a,#c,#h {
    transform: rotate(-11deg);   
}

#b {
    transform: rotate(7deg);   
}

#c,#g{
    margin-left: -25px;
}

#d,#e,#g {
    transform: rotate(11deg);    
}

#f {
    transform: rotate(-7deg);
}

#page img {
    width: 260px;
    height: 175px;
}

.dropbtn {
    margin-left: -23.5em;
    background-color: rgb(194, 193, 193);
    color: black;
    padding: 0 .5em; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: -15em;
    text-align: left;
    display: none;
    position: absolute;
    background-color: #eeeeee;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a,.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav {
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: lightgrey;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .dropbtn {
        margin-left: -29.75em;
    }

    .dropdown-content {
        margin-left: -18.25em;
    }
}

@media screen and (min-width: 700px) {
    .dropbtn {
        margin-left: -35.75em;
    }

    .dropdown-content {
        margin-left: -21.15em;
    }
}

@media screen and (min-width: 810px) {
    .dropbtn {
        margin-left: -42.75em;
    }

    .dropdown-content {
        margin-left: -24.75em;
    }
}

@media screen and (min-width: 950px) {
    .dropbtn {
        margin-left: -50.75em;
    }

    .dropdown-content {
        margin-left: -28.65em;
    }
}

@media screen and (min-width: 1100px) {
    .dropbtn {
        margin-left: -60.75em;
    }

    .dropdown-content {
        margin-left: -33.75em;
    }
}

@media screen and (min-width: 1265px) {
    .dropbtn {
        margin-left: -69.75em;
    }

    .dropdown-content {
        margin-left: -38.15em;
    }

    img {
        width: 260px;
        height: 175px;
    }

    form input, form button{
    padding: 1em;
    }

    form {
    padding-top: 48px;
    }

    header{
        font-size: 1.5em;
    }

    h1{
        font-size: 3em;
    }
}

@media screen and (min-width: 1400px) {
    .dropbtn {
        margin-left: -79.75em;
    }

    .dropdown-content {
        margin-left: -43.25em;
    }
}

.dropdown-content a:hover {background-color: rgb(216, 210, 210);}

.dropdown:hover .dropdown-content {display: block;}